## Intro to R - Walkthrough
### Using "Base R"

In [6]:
# Simple math

5 + 5
3 - 10
14 * 28
100 / 4

[1] 10

[1] -7

[1] 392

[1] 25

In [15]:
# More than simple math

max(1,7,2,1,3,4,8,3)
sqrt(16)
ceiling(3.14)
abs(-5.2)

[1] 8

[1] 4

[1] 4

[1] 5.2

In [9]:
# Data Types

numeric <- 10.5
integer <- 55L
complex <- 3 + 2i
character <- 'Hello'
logical <- TRUE

In [18]:
fruits <- list('banana','pineapple','orange','strawberry','cherry','mango')

if('apple' %in% fruits){
    print(TRUE)
} else {
    append(fruits, 'apple')
}

[[1]]
[1] "banana"

[[2]]
[1] "pineapple"

[[3]]
[1] "orange"

[[4]]
[1] "strawberry"

[[5]]
[1] "cherry"

[[6]]
[1] "mango"

[[7]]
[1] "apple"

In [22]:
for (x in 1:5){
    print(x)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [25]:
# The variable nums below will create a 4x3 matrix

nums <- matrix(c(1,2,3,4,5,6,7,8,9,10,11,12), nrow = 4, ncol = 3)
nums

     [,1] [,2] [,3]
[1,] 1    5     9
[2,] 2    6    10
[3,] 3    7    11
[4,] 4    8    12

In [9]:
# We can create functions 

check_num <- function(x){
    if(x%%2 == 0){
        paste(x, " is even.")
    } else {
        paste(x, " is odd.")
    }
}

check_num(55)
check_num(24)

[1] "55  is odd."

[1] "24  is even."